.form {
  padding: 7rem;
  padding-bottom: 2rem;
}

.form__title {
  padding-bottom: 0.5rem;
}

.form__input {
  width: 20rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
}

.form__add-btn {
  display: block;
  margin: auto;
  padding: 0.3rem;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 0.2rem;
}

.form__add-btn:hover {
  cursor: pointer;
  background-color: green;
  color: white;
}
